/* Bromley Solutions
 ==========================================================================
    Magnetic Circuits

    Programmer: Richard Bromley
 ========================================================================== */
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    align-content: center;
    margin-bottom: 0;
    border: 1px solid black;
    width: 12vw;
    height: 8vw;
}

.left, .right {
    margin-top: 0;
    height: 49vw;
    font-size: 1vw;
}

.left {
    color: black;
    border-right: 5px solid black;
    float: left;
    width: 15%;
}

.center {
    margin-top:2%;
    margin-left: 5%;
    float: left;
    width: 58%;
}

.centerText {
    background-color:lightblue;
    font-size:1vw;
    color:blue;
    margin-top: 0%;
    margin-left: 5%;
    float: left;
    width: 90%;
}

.right {
    color: black;
    border-left: 5px solid black;
    float: right;
    margin-right: 0%;
    width: 15%;
}

.cellBorder {
    border: 5px solid #888;
    fill:aqua;
    color:black;
}
.cellBorder:hover {
    opacity: 0.8;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 2% 2%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1.2vw;
}

.declarations {
    float: left;
    margin: .1% .5%;
    font-size: 1.2vw;
}

/* Set a style for all buttons */

button:hover {
    opacity: 0.8;
}

.login {
    width: 22%;
    text-decoration: none;
    background-color: rgb(13, 13, 80);
    color: white;
    padding: 1% 2%;
    margin: 0% 0%;
    border: double;
    cursor: pointer;
    font-size: 1.2vw;
}

.logout {
    position: absolute;
    top: 92%;
    width: 68%;
    text-decoration: none;
    background-color: rgb(13, 13, 80);
    color: white;
    padding: 1% 2%;
    margin: 0% 0%;
    border: double;
    cursor: pointer;
    font-size: 1.2vw;
}

/* Extra styles for the cancel button */
.cancelbtn {
    text-decoration: none;
    width: auto;
    background-color: #f44336;
    font-size: 1.2vw;
}

.container {
    text-decoration: none;
    padding: 2%;
    font-size: 1.2vw;
}

.container:hover {
        opacity: 0.8;
 }

.psw {
    color: black;
    margin-top: 2%;
    float: right;
    font-size: 1.2vw;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 32%;
    top: 32%;
    width: 25%; /* Could be more or less, depending on screen size */
    overflow: no-content; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 6px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% 5%; /* 5% from the top, 15% from the bottom and centered */
    border: 0.5vw solid #888;
}
