/* Bromley Solutions
 ==========================================================================
    Main Bromley page

    Programmer: Richard Bromley
 ========================================================================== */
body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

.farLeft {
    background-color: black;
    height: 50vw;
    border-right: 5px solid black;
    float: left;
    width: 12%;
    font-size: 1vw;
}

.farRight {
    margin-left: 3vw;
    float: right;
    width: 14%;
    font-size: 1vw;
}


.title {
    text-shadow: 2px 2px purple;
}

.center {
    background-color: gray;
    margin-top: 0;
    float: left;
    height: 100%;
    width: 74%;
    font-size: 1vw;
}

.file {
    margin-top:1vw;
    width: 72%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 13.5%;
    top: 10%;
    border: 1px solid aqua;
}
