table, td, th {
    width: 3%
}

table {
    margin-left: 2%;
    border-collapse: separate;
    border-spacing: 1vw;
    width: 90%;
    height: 80%;
}

th, td {
    color: black;
    height: 1.2vw;
    width: 30%;
    text-align:left;
}

button {
    height: 50px;
    width: 250px;
    color: Black;
    background-color: deepskyblue;
    margin: -5% 42%;
}
