body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('stars.jpg');
   background-position-x: 40%;
   background-position-y: 20%;
    background-size: 45% 50%;
    background-repeat: no-repeat;
}

.left, .right {
    margin-top: 0;
    height: 47vw;
    font-size: 0.7vw;
}

.left {
    color: white;
    border-right: 5px solid black;
    float: left;
    width: 21%;
}

.right {
    color: white;
    border-left: 5px solid black;
    float: right;
    margin-right: 0%;
    width: 20%;
}

    canvas {
    width:700px;
    height:400px;
    position: absolute;
    left: 25%;
    top: 10%;
}

.satellite {
    font-size: 0.4vw;
   float:left;
    color: white;
    width:25%;
    height: 2vw;
    margin-top: 40vw;
}

.planet {
   float:left;
   font-size: 0.4vw;
    color: white;
    width: 25%;
    height: 2vw;
    margin-left: 2vw;
    margin-top:40vw;
}

.button {
    background-color: #4CAF50; /* Green */
    margin-left: 15%;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.button:hover {
    opacity: 0.3;
}